@{
    var logoUrl = "/images/utopneia-logo.png";
}

<nav class="float-nav">
    <a href="/" class="brand">
        <div class="brand-circle">
            <img src="@logoUrl" alt="Utopneia Logo" class="brand-logo" />
        </div>
        <span class="brand-text">Utopneia</span>
    </a>
    <div class="nav-divider"></div>
    <div class="auth-links">
        <a href="/login" class="auth-link login">Login</a>
        <a href="/register" class="auth-link">Register</a>
    </div>
</nav>